@font-face {
	font-family: 'Baskerville';
	src: url(BaskervilleBold.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Baskerville';
	src: url(baskerville_win95bt.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}